.infooter
	background-color greenEucalyp
	color turquesaFondo
	display flex
	height 300px
	padding-top 5px
	width 100%
	div
		flexalign(flex-start, inline-flex, column, flex-start)
		height 300px
.qfooter
	background-color turquesaOscuro
	color turquesaFondo
	flexalign(center, inline-flex, column, center)
	height 30px
	width 100%
	span
		color turquesaFondo
		flexalign(center, inline-flex, column, center)
		height 30px
		width 100%