//COLORES
turquesaFondo = #E0F2F1
turquesaApps = #009688
turquesaSombra=#80CBC4
turquesaOscuro =#004D40
verdeMaterial = rgba(0,95,71, 1)
verdeMaterial2 = rgba(0,132,99,1)
verdeMaterialOpacity = rgba(0,95,71, 0.6)
verdeMaterialOpacityDos = rgba(0,95,71, 0.5)
//colores nuevos
greenEucalyp = rgba(38, 166, 91,1)
shamrock = rgba(46, 204, 113,1)
emerald = rgba(63, 195, 128,1)
//contraste
monza = rgba(207, 0, 15,1)
monzaOpacity = rgba(207, 0, 15,0.6)
tunderbird = rgba(217, 30, 24,1)
tunderbirdOpacity = rgba(217, 30, 24,0.6)